head, body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

header {
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.on-top {
    display: flex;
}

#logo {
    align-items: flex-start;
}

nav {
    align-items: flex-end;
}

li {
    display: inline-block;
}

main {
    position: relative;
    top: 69px;
    margin: 0 50px 60px;
}

footer {
    bottom: 0;
    text-align: left;
    margin-left: 20px;
}